body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #af4c4c;
    color: rgba(133, 11, 11, 0.685);Treinar e evoluir 
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgba(43, 5, 5, 0.938);
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #db3f3f;
    color: rgb(160, 16, 16);
}